CSRF_SESSION_KEY = '{{ CSRF_SESSION_KEY }}'
SECRET_KEY = '{{ SECRET_KEY }}'
ADMIN_PASSWORD = '{{ ADMIN_PASSWORD }}'

DYNAMIC_AUDIO_NORMALIZER_BIN = '{{ DYNAMIC_AUDIO_NORMALIZER_BIN }}'
DESTINATION_SERVER_PATH = '{{ DESTINATION_SERVER_PATH }}'
